<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--配置bean-->
    <bean  id="dao" class="com.it.dao.impl.BookDaoImpl"></bean>
    <bean id="service" class="com.it.service.impl.bookServiceImpl">
        <!--配置service和dao关系-->
        <property name="bookDao" ref="dao"></property>
    </bean>

    <!--使用factorybean实例化-->
    <bean id="bookdao" class="com.it.factory.BookDaoFactoryBean"></bean>
</beans>